html {
    font-size: 62.5%; // 1rem is 10px
    font-family: 'Amatic SC', sans-serif;
}

*,
*::after,
*::before {
}

body {
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
}

.app {
    display: grid;
    justify-items: center;
}


  @media screen and (min-width: 320px) {
    .goodies {
        display: grid;
        grid-template-columns: 1fr;
    }
  }