.navigation-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
        
        .nav-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 20px; 
        background-color: #4d4b4e;
        width: 100vw;

        .links {
            display: flex;
        }

        .nav-link {
            height: 15px;
            border-bottom: 1px solid transparent;
            transition: 0.5s ease-in-out;
            margin-right: 20px;
            text-transform: uppercase;
            font-size: 0.9rem;
            display: flex;
            justify-content: center;
            font-size: 1rem;

            a {
                color: #C9FBFF;
                text-decoration: none;
                &:hover {
                    color: #C9FBFF;
                    letter-spacing: 1px;
                    transition: 1s;
                    // border-bottom: 1px solid #C9FBFF;
                }
            }

            .nav-link-active {
                color: #e6a1a8;
                letter-spacing: 1px;
                transition: 1s;
                // border-bottom: 1px solid #e6a1a8;
            }
        }

        .logo {
            display: flex;
            justify-content: center;
            img {
                width: 140px;
                height: 80px;
                margin: -10px;
            }
        }
    }
}